server {
  listen ${TAR1090_PORT} default_server;
  server_name _;

  root /usr/local/share/tar1090/html;
  index index.html;

  location /data/ {
    alias ${TAR1090_SOURCE_DIR}/;
    autoindex off;
    add_header Cache-Control "no-store";
  }

  location /db/ {
    alias /usr/local/share/tar1090/data/;
    autoindex off;
  }

  location / {
    try_files $uri $uri/ /index.html;
  }
}
